.myBasketsDiv{
    display: flex;
    align-items: center;
}
.empty-basket{
    width: 246px;
    height: 600px;
    font-size: 18px;
    border:solid 2px rgb(179, 165, 165);
    border-radius: 9px;
    background-color: #e9e9e9;
}
.split{
    width: 100%;
    height: 1px;
    background-color: rgb(179, 165, 165);
}
.center{
    text-align: center;
}
.content{
    height: 400px;
}
.center img{
    padding-top: 39px;
}